$height-600: 600px;

.container {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.main-flex {
  min-height: $height-600;
  display: flex;
  flex-direction: row;
}

.nav-flex {
  width: 20%;
}

.main-flex {
  width: auto;
}
