$height-600: 600px;

.app-container {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.container-flex {
  min-height: $height-600;
  display: flex;
  flex-direction: row;
}

.nav-flex {
  width: 15%;
}

.main-flex {
  margin-left: 1em;
  width: 85%;
}
