$color-strong-grey: rgba(72, 72, 74);
$height-600: 600px;
$margin-1_5em: 1.5em;
$color-white: white;

.left-nav-bar {
  width: 100%;
  min-height: $height-600;
  background-color: $color-strong-grey;
  border: $color-strong-grey solid;
  display: block;
}

.nav-bar-list {
  list-style: none;
  padding-left: $margin-1_5em;
  margin-top: $margin-1_5em;
}

.nav-bar-list-item {
  margin-bottom: $margin-1_5em;
  color: $color-white;
}

a {
  color: $color-white;
}

.nav-bar-list-sub-item {
  font-size: smaller;
}

.nav-bar-sub-list
 {
  list-style: none;
 }

 .nav-sub-link {
  font-size: smaller;
  margin-bottom: $margin-1_5em;
 }

 .list-item-img {
  margin-left: $margin-1_5em;
 }
