<nav>
  <div class="left-nav-bar">
    <ul class="nav-bar-list">
        <div class="nav-bar-list-item container">
          <li class="nav-bar-list-item"><a class="list-item-container" routerLink="dashboard">Dashboard</a></li>
          <li class="nav-bar-list-item"><a class="list-item-container" routerLink="components">Components</a></li>
          <li class="nav-bar-list-item"><a class="list-item-container" routerLink="tables">Tables</a></li>
          <li class="nav-bar-list-item"><a class="list-item-container" routerLink="maps">Maps</a></li>
          <li class="nav-bar-list-item"><a class="list-item-container" routerLink="menu-level1">Menu Level 1</a></li>
        </div>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
